{% if onboarding %}
    <form method="POST" enctype="multipart/form-data">
{% else %}
    <form
        method="POST"
        hx-post="{% url 'profile-edit' %}"
        hx-target="#edit-profile-container"
        hx-swap="innerHTML"
        enctype="multipart/form-data">
{% endif %}

    {% csrf_token %}
    <div class="space-y-4">
        <div class="grid grid-cols-[120px_1fr] items-center gap-4">
                <label for="{{ form.displayname.id_for_label }}">
                    Display Name:
                </label>
                {{ form.displayname }}
            </div>
            <div class="grid grid-cols-[120px_1fr] items-center gap-4">
                <label for="{{ form.info.id_for_label }}" class="align-top">
                    Info:
                </label>
                {{ form.info }}
            </div>
            <div class="grid grid-cols-[120px_1fr] items-center gap-4">
                <label for="{{ form.image.id_for_label }}">
                    Image:
                </label>
                {{ form.image }}
            </div>
    <button type="submit" class="button mt-4">Save Changes</button>
    </div>
</form>