{% extends "base.html" %}
{% block content %}
<div class="card flex flex-col justify-between  gap-4 mb-4">
    <h1 class="font-bold text-2xl">Checkout</h1>
    
    <p>Product: {{ product.name }}</p>
    <p class="text-green-400">Price: ₹{{ product.price }}</p>
</div>
    <div class="card mt-4">
        <form method="post" id="checkout-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-4">
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-red-500 text-sm mt-1">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="button">Pay Now</button>
        </form>
{% endblock %}