{% extends 'base.html' %}
{% block content %}
    <div class=" product-container grid md:grid-cols-3 justify-items-center lg:grid-cols-4 gap-6">
    {% for product in products %}
        <div class="card md:w-full w-72 flex flex-col">
            <div class="flex">
                <img class=" mr-3 mb-3 rounded-xl" src="{{product.file_url}}">
            </div>
            <div>{{product.name}}</div>
            <div class="text-gray-300 line-clamp-4 mb-2">{{product.description|truncatechars:100}}</div>
            <div class="flex mt-auto text-green-400 ">
                <div>Rs. {{product.price}}</div>
                <a class="button !font-normal text-center !p-2 !text-xs !ml-auto" href="{% url 'product-detail' product.id %}">View Details</a>
            </div>
            <div class="text-muted text-s flex mt-2">
                4.8⭐
                <a class="text-xs pt-1 ml-auto" href="{% url 'profile-detail' product.seller.username %}">Seller - {{product.seller}}</a>
            </div>
        </div>

    {% endfor %}
    </div>
{% endblock %}