{% extends 'base.html' %}

{% block content %}

<div class="max-w-lg mx-auto flex flex-col items-center pt-20 px-4">
    <img class="w-36 h-36 rounded-full object-cover mb-4" src="{{ profile.avatar }}" />
    <div class="text-center">
        <h1 class="py-2">{{ profile.name }}</h1>
        <div class="text-gray-400 mb-2 -mt-3">@{{ profile.user.username }}</div>
        {% if profile.info %}
        <div class="py-3">{{ profile.info|linebreaksbr }}</div>
        {% endif %}
        {% if request.user == profile.user %}
        <div class="space-x-3 mt-4">
        <button
            class="button mt-6 mb-12 !bg-yellow-200 !text-black"
            hx-get="{% url 'profile-edit' %}"
            hx-target="#edit-profile-container"
            hx-swap="innerHTML">
            Edit Profile
        </button>
        <a href="{% url 'profile-settings' %}" class="button-secondary mt-6 mb-12">
            Account Settings
        </a>

        </div>
        
        <div id="edit-profile-container"></div> 
        </div>
        {% endif %}
</div>


{% endblock %}